*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(233, 233, 233);
}

header{
    display: flex;
    background-color: #3867CF;
    color: white;
    justify-content: space-between;
margin-bottom: 32px;
}

header h1,
h2{
    font-style: italic;
    font-weight: bold;
}

div.container.pp{
    margin: 16px auto; 
}

.pp{
    display: flex;
    justify-content: space-between;
}



.lista {
    display: flex;
    align-items: center;
    right: 0;

}

.lista nav ul{
    display: flex;
    list-style: none;

}



.lista nav ul li a{
    color: white;
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;

}

.sobre-loja{
    display: flex;

}

.sobre-loja img{
    margin-right: 30px;
    height: 380px;
    border-radius: 5px;
    box-shadow: 0 0 15px;
}

h2{
    color: rgb(31, 73, 238);
    border-bottom: 2px solid rgb(31, 73, 238);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 30px auto;
}

#produto nav ul li{

max-width: 248px;
width: 100%;
}


#produto nav ul{
    display: grid;
    max-width: 248px;
    width: 100%;
    grid-template-columns: repeat(4,99%);
    column-gap: 5%;
    row-gap: 5%;
    list-style: none;
}

h3{
    font-size: 1.17em;
    font-weight: bold;

}

#produto p{
    margin:16px 0;
}


button{
    background-color: #3867CF;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 32px;
    width: 100%;
    transition: ease-in 0.1s;
}

button:hover{
    transform: scale(1.05);
}



@media screen and (max-width:1023px){
h2{
    margin: 20px auto;
}

.sobre-loja{
    display: block;
}
.container{
    max-width: 500px;
    width: 100%;
    margin: 30px auto;
}

#produto nav ul li{

    max-width: 248px;
    width: 100%;
    }
    
    
    #produto nav ul{
        display: grid;
        max-width: 248px;
        width: 100%;
        grid-template-columns: repeat(2,99%);
        column-gap: 5%;
        row-gap: 5%;
        list-style: none;
    }
}

@media screen and (max-width:640px){
    .container{
        max-width: 295px;
        width: 100%;
        margin: 30px auto;
    }

    #produto nav ul{
        display: grid;
        max-width: 248px;
        width: 100%;
        grid-template-columns: repeat(1,100%);
        column-gap: 5%;
        row-gap: 5%;
        list-style: none;
    }

    .sobre-loja img{
        height: 200px;
        width: 300px;
    }

    .lista nav ul{
        display: block;
    }

    .pp{
        display: flex;
    }
    h1{
        padding: 10px;
        font-size: 2em;
        font-weight: bold;
    }

    .lista nav ul li{
        display: inline-block;
        margin: 5px auto;
    }
    .lista nav ul li a{
    }
}